
.container{
    background: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #dadce0;
    display: block;
    /* padding: 16px 16px; */
}

.card {
    padding: 16px 16px 0px 16px;
}

.title{
    display: inline-block;
    margin: 0px;
}

table{
    table-layout: fixed;
    text-align: left;
    width: 100%
}

thead > tr {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    letter-spacing: .3px;
    padding-bottom: 1px;
    padding-top: 2px;
    font-weight: 500;
    padding-bottom: 9px;
    padding-top: 10px;
    text-align: left;
    height: 39px;
}

tr > th {
    padding: 0px 16px;
}

th {
    border-bottom: 1px solid transparent;
    border-bottom-color: #dadce0;
}

td {
    box-sizing: border-box;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    min-height: 24px;
    border-bottom: 1px solid transparent;
    border-bottom-color: #dadce0;
    height: 40px;
    max-width: 100%;
}

tr:last-child > td {
    border: none;
}

tr > td:first-child {
    color: #1565cf;
    padding: 0px 16px;
}

.create_button{
    float: right;
    border-radius: 4px;
    border-width: 1px;
    cursor: pointer;
    letter-spacing: .25px;
    line-height: 34px;
    padding: 1px 24px 2px;
    background-color: rgba(26, 115, 232, 0.1);
    border-color: transparent;
    color: #1565cf;
}

.export_data{
    text-align: center;
    margin-top: 20px;
}

.export_button{
    border-radius: 4px;
    border-width: 1px;
    cursor: pointer;
    letter-spacing: .25px;
    line-height: 34px;
    padding: 1px 24px 2px;
    background-color: rgba(26, 115, 232, 0.1);
    border-color: transparent;
    color: #1565cf;
}
