@font-face {
    font-family: 'Material Icons Extended';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsextended/v149/kJEjBvgX7BgnkSrUwT8UnLVc38YydejYY-oE_LvJ.woff2) format('woff2');
}

body {
    margin: 0px;
}

.container {
    margin-top: 70px;
    background: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #dadce0;
    display: block;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flow-root;
    /* min-height: 182px; */
}

#empty_table {
    font-size: 15px;
    margin-bottom: 48px;
    margin-top: 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

.card {
    padding: 16px 16px 0px 16px;
}

.title {
    display: inline-block;
    margin: 0px;
}

table {
    border-spacing: 0;
    table-layout: fixed;
    text-align: left;
    width: 100%
}

thead>tr {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    letter-spacing: .3px;
    padding-bottom: 1px;
    padding-top: 2px;
    font-weight: 500;
    padding-bottom: 9px;
    padding-top: 10px;
    text-align: left;
    height: 39px;
}

tbody>tr {
    cursor: pointer;
}

tbody>tr:hover {
    background: #f1f3f4;
}

tr>th {
    padding: 0px 16px;
}

th {
    border-bottom: 1px solid transparent;
    border-bottom-color: #dadce0;
}

td {
    box-sizing: border-box;
    padding: 0px 16px;
    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
    font-size: 14px;
    line-height: 20px;
    min-height: 24px;
    border-bottom: 1px solid #dadce0;
    height: 40px;
    max-width: 100%;
}

tr:last-child>td {
    border: none;
}

tr>td:first-child {
    color: #1565cf;
}

.list_trigger {
    max-width: 100%;
    font-size: 12px;
    letter-spacing: .3px;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 12px;
    box-shadow: 0 0 0 1px #dadce0;
    color: #3c4043;
    display: inline-block;
    font-weight: 600;
    line-height: 16px;
    margin: 3px 4px 4px 0;
    padding: 5px 12px 5px 31px;
    position: relative;
    cursor: pointer;
}

.list_trigger:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2),0 4px 5px 0 rgba(0, 0, 0, 0.14),0 2px 10px -1px rgba(0, 0, 0, 0.12);
    background-color: rgba(0, 0, 0, 0.06);
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none
}

.list_icon {
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 24px;
    margin-left: 1px;
    left: 0;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    font-family: "Material Icons Extended";
    font-style: normal;
    letter-spacing: normal;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    font-weight: normal;
}

.list_icon.pageview {
    background-color: #4285f4;
}

.list_icon.pageview::before, .pageview_icon::before {
    content: "remove_red_eye";
}

.list_icon.event {
    background-color: #e8710a;
}

.list_icon.event::before, .event_icon::before {
    content: "code";
}

.export_data {
    text-align: center;
    margin-top: 20px;
    display: none;
}

.export_button {
    transition: all .3s;
    border-radius: 4px;
    border-width: 1px;
    cursor: pointer;
    letter-spacing: .25px;
    line-height: 34px;
    padding: 1px 24px 2px;
    background-color: rgba(26, 115, 232, 0.1);
    border-color: transparent;
    color: #1565cf;
    height: 36px;
}

.export_button:hover {
    background-color: rgba(26, 115, 232, 0.14);
    box-shadow: none
}

.editor_background {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .32;
    top: 0;
    left: 0;
    z-index: 1;
}

.editor_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0);
    border-bottom-color: #dadce0;
}

.editor_close {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 8px;
    cursor: pointer;
    color: #000;
    opacity: .54;
}

.editor_close:hover {
    opacity: .87;
}

.editor_close::before {
    font-family: "Material Icons Extended";
    content: "close";
    font-size: 24px;
    font-style: normal;
    text-align: center;
    width: 40px;
}

.tag_name {
    flex: auto;
    line-height: 32px;
    margin: 0 0 1px;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    min-height: 64px;
    padding-top: 18px;
}

.input_tag_name {
    transition: border-color .5s;
    border-bottom: solid 1px #dadce0;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 20px;
    height: 33px;
    outline: none;
}

.input_tag_name:focus {
    background: transparent;
    border-bottom: solid 2px #1a73e8;
    margin-bottom: 0;
    min-width: 5em
}

.input_tag_name:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
 }

.editor {
    display: none;
    width: 1300px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    box-shadow: 0 0 10px -5px rgba(0,0,0,.2), 0 0 24px 2px rgba(0,0,0,.14), 0 0 30px 5px rgba(0,0,0,.12);
}

.form_card {
    /* width: 650px; */
    overflow: auto;
    height: 88.7vh;
    margin: 0 auto;
    padding: 24px 24px 16px;
    background-color: #F1F3F4;
}

.content {
    margin: 0 auto;
    width: 1000px;
}


.tag_conf, .set_trigger {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 16px;
    padding-bottom: 8px;
    padding-top: 16px;
}

.trigger_card {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: box-shadow .15s;
    background-color: #f8f9fa;
    box-shadow: 0 0 0 1px #dadce0;
    cursor: pointer;
    position: relative;
    padding-left: 72px;
    margin: 12px 0px 16px;
}
.trigger_card:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2),0 4px 5px 0 rgba(0, 0, 0, 0.14),0 2px 10px -1px rgba(0, 0, 0, 0.12);
}

#trigger_name {
    transition: border-color .5s;
    border: none;
    font-size: 14px;
    background-color: #f8f9fa;
    outline: none;
}

#trigger_name:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f8f9fa inset;
 }

.pageview_icon {
    display: block;
    left: 24px;
    position: absolute;
    top: 16px;
    background-color: #4285f4;
    border-radius: 50%;
    color: #fff;
    line-height: 24px;
    text-align: center;
    width: 24px;
    font-family: "Material Icons Extended";
    font-style: normal;
}

.event_icon {
    left: 24px;
    position: absolute;
    top: 16px;
    background-color: #e8710a;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-family: "Material Icons Extended";
    font-style: normal;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    width: 24px;
}

.trigger_icon_caption {
    min-height: 56px;
}

.trigger_icon_caption > div:first-child {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 20px;
    padding-bottom: 2px;
    padding-top: 9px;
}

.trigger_icon_caption > div:nth-child(2) {
    color: rgba(0,0,0,.54);
    font-size: 12px;
    letter-spacing: .3px;
    padding-bottom: 1px;
    line-height: 16px;
    margin-top: -2px;
    min-height: auto;
    padding-top: 0;
}

.trigger_card_caption {
    box-sizing: border-box;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    min-height: 24px;
    padding-bottom: 2px;
    padding-top: 1px;
    font-weight: 500;
    min-height: auto;
    padding-bottom: 1px;
    padding-top: 9px;
}

.last_div {
    height: 8px;
}
.conf_title {
    margin-bottom: 8px;
    margin: -16px -24px 0;
    padding: 17px 24px 14px;
    line-height: 24px;
    border-bottom: 1px solid #dadce0;
    margin-bottom: 16px;
}

.create_button {
    transition: all .3s;
    cursor: pointer;
    font-size: 14px;
    height: 36px;
    background-color: #1a73e8;
    color: #fff;
    margin-right: 40px;
    float: right;
    border-radius: 4px;
    letter-spacing: .25px;
    padding: 1px 24px 2px;
    border-color: transparent;
}

.create_button:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),0 1px 1px 0 rgba(0, 0, 0, 0.14),0 2px 1px -1px rgba(0, 0, 0, 0.12);
    background-color: #3684eb;
    border-color: transparent
}

.form_tagType {
    padding-bottom: 8px;
}

.caption {
    color: rgba(0,0,0,.54);
    font-size: 12px;
    letter-spacing: .3px;
    padding-bottom: 1px;
    padding-top: 2px;
}

.radio {
    margin-top: 8px;
    display: flex;
}

.form_input {
    border: solid 1px #dadce0;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    height: 36px;
    line-height: 38px;
    width: 230px;
    margin: 5px 16px 6px 0px;
    font-size: 14px;
    font-family: Roboto,Helvetica Neue,sans-serif;
}

.form_input:focus {
    outline: solid 2px #1a73e8;
}

.form_input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
 }

#measurementId {
    margin-bottom: 9px;
}

.select_box {
    border: solid 1px #dadce0;
    border-radius: 4px;
    box-shadow: none;
    padding-left: 12px;
    padding-right: 12px;
    height: 40px;
    line-height: 38px;
    width: 256px;
    margin: 5px 16px 15px 0px;
    appearance: none;
    background-image: url(https://www.gstatic.com/images/icons/material/system/2x/arrow_drop_down_grey600_24dp.png);
    background-position: right 6px center;
    background-repeat: no-repeat;
    background-size: 24px;
    font-size: 14px;
}

.select_box:focus {
    outline: solid 2px #1a73e8;
}

.remove_button {
    font-family: "Material Icons Extended";
    font-size: 24px;
    font-style: normal;
    height: 40px;
    vertical-align: middle;
    opacity: .54;
    margin:0px 16px 0px 6px;
}

.remove_button:hover {
    opacity: .87;
}

.remove_button::before{
    content: "remove_circle_outline";
    cursor: pointer;
}

.add_input {
    margin: 8px 0px 15px 0px;
    transition: all .3s;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 14px;
    height: 36px;
    letter-spacing: .25px;
    padding: 1px 24px 2px;
    background-color: transparent;
    border-color: #dadce0;
    color: #1a73e8;
}

.add_input:hover {
    background-color: rgba(26, 115, 232, 0.06);
    border-color: #d2e3fc;
}

.field_title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    letter-spacing: .3px;
    margin: 16px -24px 0px 0px;
    padding: 19px 0px 15px 0px;
    border-top: 1px solid #dadce0;
}

.input_title {
    display: flex;
}

.field_name {
    width: 272px;
    color: rgba(0,0,0,.54);
    font-size: 12px;
    letter-spacing: .3px;
}

.input_area {
    display: flex;
}

.textarea {
    margin: 10px 0 0 20px
}

.textarea_box {
    width: 250px;
    border: solid 1px #dadce0;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 5px 16px 6px 0px;
    font-size: 14px;
    height: 150px;
    resize: none;
    font-family: Roboto,Helvetica Neue,sans-serif;
}

.textarea_box:focus {
    outline: solid 2px #1a73e8;
}

.tagType {
    display: none;
}

.tagType+label {
    transition: box-shadow .15s;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #dadce0;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.tagType:checked+label {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2),0 4px 5px 0 rgba(0, 0, 0, 0.14),0 2px 10px -1px rgba(0, 0, 0, 0.12);
    background-color: rgba(0, 0, 0, 0.06);
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none
}

.tagType+label:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2),0 4px 5px 0 rgba(0, 0, 0, 0.14),0 2px 10px -1px rgba(0, 0, 0, 0.12);
    background-color: rgba(0, 0, 0, 0.06);
    color: rgba(0, 0, 0, 0.87);
}

.radio_label.conf {
    margin-right: 18px;
}

.radio_img {
    flex: 0 0 72px;
    font-size: 0;
    padding: 0 8px 0 0;
    text-align: center;
    line-height: 56px;
}

.conf_img {
    width: 24px;
    vertical-align: middle;
}

.radio_caption > div:first-child {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 20px;
    padding-bottom: 1px;
    padding-top: 9px;
}

.radio_caption > div:nth-child(2) {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: rgba(0,0,0,.54);
    font-size: 12px;
    letter-spacing: .3px;
    line-height: 16px;
    margin-top: -2px;
    padding-bottom: 11px;
}

.dialog_background {
    opacity: 0;
    transition: opacity 218ms;
    background: white;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 79;
}

.dialog_background.opening {
    visibility: visible;
    background: #000;
    opacity: .6;
}

.dialog_wrapper {
    visibility: hidden;
    opacity: 0;
    transition: opacity 218ms;
    bottom: 24px;
    left: 48px;
    position: fixed;
    right: 48px;
    text-align: center;
    top: 128px;
    visibility: hidden;
    z-index: 80;
}

.dialog_wrapper.opening {
    visibility: visible;
    opacity: 1;
}

.dialog_form {
    height: 150px;
    max-height: 100%;
    min-height: 136px;
    min-width: 400px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
    display: inline-block;
    position: relative;
    text-align: left;
    z-index: 80;
}

.dialog_template {
    padding-top: 64px;
    padding-bottom: 48px;
    /* height: 100%; */
    position: relative;
    z-index: 80;
}

.dialog_header{
    border-bottom: 1px solid transparent;
    font-family: "Google Sans",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    letter-spacing: .1px;
    height: auto;
    min-height: 64px;
    padding: 24px 24px 16px;
    position: absolute;
    top: 0;
    width: 100%;
}

.dialog_content {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    min-height: 24px;
    padding-bottom: 2px;
    padding-top: 1px;
    border-bottom: 1px solid transparent;
    color: rgba(0, 0, 0, 0.87);
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.dialog_content > p {
    margin-top: 0px;
}

.dialog_footer {
    height: 48px;
    padding: 2px 16px 0;
}

.dialog_btn {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    /* transition: all .3s; */
    font-size: 14px;
    height: 36px;
    letter-spacing: .25px;
    line-height: 34px;
    min-height: 24px;
    min-width: 72px;
    background-color: transparent;
    border-color: transparent;
    color: #1a73e8;
    padding-left: 8px;
    padding-right: 8px;
    float: right;
    margin: 0 0 0 8px;
}

.dialog_btn:hover {
    background-color: rgba(26, 115, 232, 0.06);
    border-color: transparent
}

.dialog_btn:focus {
    background-color: rgba(26, 115, 232, 0.12);
    border-color: transparent;
    box-shadow: none
}